# See: https://nuxtjs.org/docs/directory-structure/nuxt-config#runtimeconfig

# I18n Configuration
VUE_APP_DEFAULT_LOCALE="en"
VUE_APP_FALLBACK_LOCALE="en"
VUE_APP_SUPPORTED_LOCALES="en|fr"

# Application Mode - `app` or `webgl` or...
# `app` - Mixes UI and WebGL
# `webgl` - Can be used to isolate WebGL and remove UI
VUE_APP_MODE="app"

# Preview Mode
# Can be used to hide features on production but enable them on the staging.
# It has nothing to do with the preview mode of a CMS.
VUE_APP_PREVIEW="true"
